/* ===============================MAIN========================================== */
/* ===============================HOME========================================== */
/* main.main {
    max-width: 1100px;
}
 */
.home {
    margin-top: 20px;
}

.home .container .row {
    width: 100%;
    padding: 20px;
}