
/* ===============================MAIN========================================== */
/* ===============================HOME========================================== */
main.main {
    max-width: 1200px;
}

.home {
    margin-top: 20px;
    padding: 10px;
}

.home .container .row {
    width: 100%;
    /* padding: 10px; */
}